<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docinhos da Sarah</title>
</head>
<body>
    <header>
        <img id="phone" src="static/imagens/logo-mobile.png" alt="Logo Doces da Sarah. Contorno de um bolo de dois andares, com um coraçao rosa no topo.">
        <img id="pc" src="static/imagens/logo-pc.png" alt="Logo Doces da Sarah. Contorno de um bolo de dois andares, com um coraçao rosa no topo.">
        <i id= "menuburgue"class= "material-symbols-outlined" onclick="clickMenu()" >menu</i>
        <menu id="menuburg">
            <ul>
                <li><a href="index.html">Cardápio</a></li>
                <li><a href="indexfazerPedido.html">Fazer Pedido</a></li>
                <li><a href="https://www.instagram.com/s2_docesdasarah?igshid=MmVlMjlkMTBhMg==" target="_blank">Instagram</a></li>
                <li><a href="https://api.whatsapp.com/send?phone=5511981273027&text=Ol%C3%A1!%20Gostaria%20de%20fazer%20um%20pedido%20%F0%9F%8D%B0%F0%9F%A7%81" target="_blank">Contato</a></li>
            </ul>
        </menu>
    </header>
   <h1>Docinhos</h1> 
</body>
</html>